body{
    font-size: 22px;
}
p{
    color: purple
}
.gray{
    color: blue; 
}
#second{
    font-style:italic;
}
h1, h2{
    color: blue;
}
p span{
    text-transform: uppercase;
    background-color: gold;
}
*{
    font-family: monospace;
}
body{
    font-size: 33px; /*inherited*/
    border: 3px solid black; /*not inherited*/
}
*{
    border: 1px solid red;
}
main{
    font-family: monospace;                          
}
