*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    font-size: 32px;
    width: 40ch;
}
h1{
    border: 2px dashed red;
    width: 75%;
    font-size: 3rem;
    padding: 0.5em;
}
header{
    width: 50%;
}
